/* All =============*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: white;
    font-family: 'Poppins', arial;
    overflow-y: scroll;
    overflow-x: hidden;
}


/* HEADER ============ */

header {
    background: url('../logos/logo2.png'), #FFD3D4 no-repeat;
    height: 11rem;
    max-height: 11rem;
    width: 100vw;
    max-width: 100vw;
}

.navLogo {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
}

.logo {
    float: left;
    margin-top: 4rem;
    margin-left: 8rem;
}

.logoimg {
    width: 13rem;
    height: auto;
}

.navLogo ul {
    float: right;
    padding-right: 2rem;
}

.navLogo ul li {
    margin-left: 3rem;
    padding-right: 0;
    margin-top: 5.2rem;
    font-size: 0.9rem;
}

nav ul li a:hover {
    border-bottom: 5px solid #fd4d73;
    padding-bottom: 1px;
}


/* Deixando as fontes na cor rosa */

.navLogo ul li a {
    color: #fd4d73;
}


/* section carousel 1 ===== */

.login {
    width: 100%;
    height: 4rem;
    max-height: 4rem;
    padding-top: 1.4rem;
}

.login a {
    text-decoration: none;
    font-size: 1rem;
    color: #585858;
    letter-spacing: 3px;
}

.login div {
    display: inline-block;
}

.Cardcartao {
    width: 45%;
    float: left;
    padding-left: 8rem;
}

.CardCadastro {
    width: 45%;
    float: right;
    padding-left: 8rem;
}

.Cardcartao img {
    width: 1.5rem;
    height: auto;
    margin-right: 20px;
}

.CardCadastro img {
    width: 1.5rem;
    height: auto;
}

.favoCarrin {
    margin-left: 3rem;
}

.favoCarrin img {
    margin-right: 1rem;
}

.favoCarrin .carrinMenu {
    width: 2rem;
    height: auto;
    padding-bottom: 0.3rem;
}

.barra {
    margin-left: 5%;
}

.Mvendidos:hover {
    border: 1px solid #bdbdbd;
    padding: 0.7rem;
}

.card-body {
    width: 100%;
    padding-left: 0.3rem;
}

.card-body h5 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.card-title {
    font-size: 0.9rem;
    color: #fd4d73;
    text-align: left;
    width: 100%;
}

.card-title img {
    margin-left: 2px;
}

.card-title .carrin {
    padding-bottom: 1rem;
    padding-left: 0.3rem;
}

.card-title .corac {
    padding-bottom: 0.6rem;
}

.card-text {
    width: 100%;
    height: 100%;
    margin-bottom: 0.1rem;
    color: #b92a49;
}

.card-cart {
    font-size: 0.7rem;
    color: #fd4d73;
    width: 100%;
    height: 100%;
}

.card-cart a {
    margin-top: -1.5rem;
    text-decoration: none;
}

.btnComprar {
    float: right;
    font-size: 0.7rem;
    font-weight: 600;
    color: #fd4d73;
    padding: 0.7rem;
    background-color: #ffc5d2;
    border-radius: 3rem;
}

.col-sm-2 {
    margin-right: 2.6rem;
}

.card-title .serie,
.religiao,
.humor,
.cursos,
.positividade {
    width: 1.5rem;
    height: auto;
}

.categorias .card-body h5 {
    text-align: center;
    font-size: 1rem;
}

.categ,
.categ a {
    border: none;
    text-decoration: none;
}